.hero-area{
    padding-top: 100px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #ffffff;
    min-height: 300px;
}

footer {
    background-color: rgba(54, 29, 29, 0.8);
    color: #ffffff;
}